/*
  Grid
  Parent
  - display: grid | inline-grid
  - grid-template-columns: [Number Of Columns In] => [Px, %, Auto, Fraction, Repeat, Mix]
  - grid-template-rows: [Number Of Rows In] => [Px, %, Auto, Fraction, Repeat, Mix]
  - gap: [Row Gap] [Column Gap]
  - justify-content
  - align-content
  - grid-template-areas
  Child
  - grid-column: [Grid-Column-Start] [Grid-Column-End]
  - grid-row: [Grid-Row-Start] [Grid-Row-End]
  - grid-area: [Grid-Row-Start] [Grid-Column-Start] [Grid-Row-End] [Grid-Column-End]
*/

* {
    box-sizing: border-box;
}

body {
    /* counter-reset: section; */
}

.layout {
    width: 100%;
    height: 100vh;
    background-color: #eee;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 50px auto 50px;
    grid-template-areas:
        "hed hed hed hed hed hed"
        "sec sec sec sec asd asd"
        "ftr ftr ftr ftr ftr ftr";
}

header {
    grid-area: hed;
    background-color: #56AAF5;
}

header::before {
    content: "Header";
    display: block;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
}


section {
    grid-area: sec;
    background-color: #E8542B;
}

section::before {
    content: "Section";
    display: block;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
}

aside {
    grid-area: asd;
    background-color: #607D8B;
}

aside::before {
    content: "Aside";
    display: block;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
}

footer {
    grid-area: ftr;
    background-color: #489689;
}

footer::before {
    content: "Footer";
    display: block;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
}