/*
  Grid
  Parent
  - display: grid | inline-grid
  - grid-template-columns: [Number Of Columns In] => [Px, %, Auto, Fraction, Repeat, Mix]
  - grid-template-rows: [Number Of Rows In] => [Px, %, Auto, Fraction, Repeat, Mix]
  - gap: [Row Gap] [Column Gap]
  - justify-content
  - align-content
  - grid-template-areas
  Child
  - grid-column: [Grid-Column-Start] [Grid-Column-End]
  - grid-row: [Grid-Row-Start] [Grid-Row-End]
  - grid-area: [Grid-Row-Start] [Grid-Column-Start] [Grid-Row-End] [Grid-Column-End]
*/

* {
    box-sizing: border-box;
}

body {
    /* counter-reset: section; */
}

.grid1 {
    counter-reset: num;
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px auto;
    gap: 10px;
    position: relative;
}

.grid1 div {
    background-color: #607D8B;
}

.grid1 div::before {
    /* content: "Element "; */
    counter-increment: num;
    content: "Element " counter(num);
    position: absolute;
    text-align: center;
    color: #fff;
    width: 100%;
    height: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.grid1 div {
    display: flex;
    justify-content: center;
    align-items: center;
}